/* Police */
@font-face {
    font-family: 'Morris-Roman-Black';
    src:url('/font/Morris Roman/Morris-Roman-Black.ttf.woff') format('woff'),
        url('/font/Morris Roman/Morris-Roman-Black.ttf.svg#Morris-Roman-Black') format('svg'),
        url('/font/Morris Roman/Morris-Roman-Black.ttf.eot'),
        url('/font/Morris Roman/Morris-Roman-Black.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

/* Variable */
:root
{
    --ColorOr:#B29166;
}

/* Style de la page */
body
{
    background-image:url("images/background/feuille background.jpg");
    color:var(--ColorOr);
    margin:auto;

    font-family: "Morris-Roman-Black";

    width:1600px;
}

/* En-tête */
header
{
    background-color: rgba(255, 255, 255, 0.16);
    display: flex;
    position: relative;
    bottom: auto;
    border-bottom: 3px solid var(--ColorOr);
}

header h1
{
    font-size: 55px;
    margin:0px
}
header h2
{
    font-size:35px;
    padding:0px;
    margin:0px;

}

nav
{
    position: absolute;
    right: 0px;
    bottom:0px
}

nav li
{
    list-style-type: none;
    margin-right:25px;
    border-top: 3px solid black;

}

nav ul
{
    display:flex;
}

nav a
{
    color:var(--ColorOr);
    text-decoration: none;
}

nav a:hover
{
    border-top: var(--ColorOr);
}

#contact_page
{
    display:flex;
    justify-content: space-around;
}

#who
{
    width: 600px;
}
#who img
{
    float: left;
    width: 200px;
}

/* Style du formulaire de contact */
#form
{
    border: 1px solid var(--ColorOr);
    padding: 25px;
}

#form input
{
    font-family: "Morris-Roman-Black";
}
textarea
{
    font-family: "Morris-Roman-Black";

}

#send
{
    border-radius: 10px;
    padding:5px;
    margin:0px;
    background-color: rgba(255, 0, 0, 0.192);
    border: 1px solid var(--ColorOr);
    font-family: "Morris-Roman-Black";
    color: var(--ColorOr);
}